@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

// general styling variables
$fontMain: "Rubik", sans-serif;

$primary1: hsl(276, 100%, 81%);
$primary2: hsl(276, 55%, 52%);
$primary3: hsl(271, 15%, 43%);
$primary4: hsl(206, 6%, 79%);
$primary5: hsl(271, 36%, 24%);
$primary6: hsl(270, 7%, 64%);
$primary7: hsl(275, 39%, 88%);
$secondary1: hsl(0, 0%, 100%);
$secondary2: hsl(270, 20%, 96%);
$secondary3: hsl(271, 36%, 24%);
$secondary4: hsl(289, 100%, 72%);

$gradientMagenta: hsl(293, 100%, 63%);
$gradientViolet: hsl(264, 100%, 61%);

@mixin rubikLight {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
@mixin rubikRegular {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
@mixin rubikBold {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
@mixin displayFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin displayFlexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin phoneText {
  @include rubikLight;
  font-size: 14px;
  text-align: left;
  width: 70%;
  padding: 9px;
  border-radius: 14px;
}
@mixin phoneTextShadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.03),
    0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03),
    0 16px 32px rgba(0, 0, 0, 0.03);
}
@mixin phoneTextGradient {
  background-image: linear-gradient(
    160deg,
    $gradientMagenta 10%,
    $gradientViolet
  );
  color: $secondary1;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: $secondary2;
}
.mainContainer {
  @include displayFlexRow();
  height: 100vh;
}
// landing page right side of screen
.mainLeft {
  z-index: 10;
  @include displayFlexRow();
  justify-content: flex-end;
  padding-right: 140px;
  width: 50%;
  height: 100%;
  position: relative;
}

.backgroundShape {
  z-index: -1;
  position: absolute;
  top: 0;
  left: -350px;
  width: 700px;
  height: 850px;
  background-image: linear-gradient(
    -160deg,
    $gradientMagenta 10%,
    $gradientViolet
  );
  border-radius: 48%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

// landing page right side of screen
.mainRight {
  @include displayFlexCol();
  align-items: flex-start;
  width: 50%;
  padding-left: 10px;
}
.mainRight h2 {
  @include rubikRegular();
  font-size: 3rem;
  width: 63%;
  text-align: left;
  letter-spacing: 1.15px;
  color: $primary5;
  padding-bottom: 25px;
}
.mainRight p {
  @include rubikLight();
  width: 63%;
  color: $primary6;
}
