//stylings for the chat window (not the phone shape)
//chat animation adapted from Clemens
// https://codepen.io/clemens/pen/kXZWOK

.screen {
  @include rubikLight;
  font-size: 0.8rem;
}
// phone user start
.phoneUser {
  @include displayFlexRow;
  justify-content: space-between;
  padding: 30px 15px 10px;
  border-radius: 50px 50px 7px 7px;
  background-image: linear-gradient(90deg, $gradientViolet, $gradientMagenta);
  color: $secondary1;
}
.phoneUserMain {
  @include displayFlexRow;
}
.phoneUserMain i,
.phoneUserImageContainer {
  padding-right: 10px;
}
.phoneUserImageContainer {
  width: 50px;
}
.phoneUserImageContainer img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid $secondary1;
}
.phoneUserInformation p:first-child {
  @include rubikBold;
  font-size: 1rem;
}
.phoneUserDogImage {
  @include displayFlexRow;
}
.phoneUserDogImage img {
  border-radius: 10px;
  width: 58px;
}
.phoneUserDogImage img:nth-child(2) {
  margin: 0 15px;
}
.priceGradient {
  @include displayFlexRow;
  @include phoneTextGradient;
  width: 80%;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
  border-bottom-left-radius: 5px;
}

.priceGradient > div:nth-child(1) {
  @include displayFlexRow;
  justify-content: flex-start;
  width: 100%;
}
.priceGradient > div p:nth-child(1) {
  @include rubikBold;
  font-size: 1.3rem;
  margin-left: 3.5rem;
}
.priceGradient i {
  color: $primary1;
  font-size: 1.1rem;
  padding-right: 10px;
}

.phoneSend {
  @include displayFlexRow;
  @include rubikLight;
  margin: 0 auto;
  font-size: 14px;
  justify-content: space-between;
  justify-self: center;
  width: 93%;
  height: 60px;
  padding: 0 10px 0 20px;
  border-radius: 30px;
  background-color: $secondary1;
  color: $primary4;
}
.phoneSend i {
  font-size: 2rem;
  color: $secondary3;
}

.chatWrapper {
  width: 350px;
  height: 580px;
}

.chat ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.message-left {
  text-align: left;
  margin-bottom: 7px;
}
.message-text {
  max-width: 80%;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  line-height: 1.5em;
  width: max-content;
}
.message-left .message-text {
  background: $secondary6;
  color: $primary2;
  border-bottom-left-radius: 5px;
}

.message-right {
  text-align: right;
  margin-bottom: 7px;
}

.message-right .message-text {
  line-height: 1.5em;
  background: $secondary1;
  color: $primary3;
  border-bottom-right-radius: 5px;
  text-align: left;
}

.chat {
  padding: 20px 10px 10px 10px;
}
.chatContainer {
  overflow-y: scroll;
}

.spinme-right {
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2;
}

.spinme-left {
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  color: #ccc;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2;
}

.spinner {
  margin: 0;
  width: 30px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background: $primary2;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
