.screen {
  @include rubikLight;
  font-size: 0.8rem;
}
// phone user start
.phoneUser {
  @include displayFlexRow;
  justify-content: space-between;
  padding: 30px 15px 10px;
  border-radius: 50px 50px 7px 7px;
  background-image: linear-gradient(90deg, $gradientViolet, $gradientMagenta);
  color: $secondary1;
}
.phoneUserMain {
  @include displayFlexRow;
}
.phoneUserMain i,
.phoneUserImageContainer {
  padding-right: 10px;
}
.phoneUserImageContainer {
  width: 50px;
}
.phoneUserImageContainer img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid $secondary1;
}
.phoneUserInformation p:first-child {
  @include rubikBold;
  font-size: 1rem;
}
.phoneUserDogImage img {
  border-radius: 10px;
  width: 58px;
  margin-left: 15px;
}
.phoneSend {
  @include displayFlexRow;
  @include rubikLight;
  margin: 0 auto;
  font-size: 14px;
  justify-content: space-between;
  justify-self: center;
  width: 93%;
  height: 60px;
  padding: 0 10px 0 20px;
  border-radius: 30px;
  background-color: $secondary1;
  color: $primary4;
}
.phoneSend i {
  font-size: 2rem;
  color: $secondary3;
}
