@import "./setup";
@import "./landing";
@import "./phoneDesign";
@import "./phoneChat";

// media queries
@media (max-width: 1160px) {
  .mainRight p,
  .mainRight h2 {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .mainLeft {
    width: 60%;
    padding-right: 80px;
  }
  .mainRight {
    width: 40%;
  }
  .mainRight h2,
  .mainRight p {
    width: 90%;
  }
  .backgroundShapeLight {
    top: -200px;
    left: 100px;
  }
}
@media (max-width: 800px) {
  body {
    overflow-x: hidden !important;
  }
  .mainContainer {
    flex-direction: column;
    height: auto;
    overflow-y: hidden;
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  .mainLeft,
  .mainRight {
    padding: 20px;
    width: 100%;
    margin-top: 20px;
  }
  .mainRight h2,
  .mainRight p {
    margin: 0 auto;
    text-align: center;
  }
  .mainRight {
    padding-bottom: 200px;
  }
  .marvel-device {
    margin: 0 auto;
  }
  .backgroundShapeLight {
    top: 0px;
    left: 360px;
  }
  .backgroundShapeDark {
    top: -170px;
  }
}
@media (max-width: 460px) {
  html {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .mainLeft {
    padding: 20px 10px;
  }
  .marvel-device {
    min-width: 260px;
  }
  .marvel-device.iphone-x .notch {
    position: absolute;
    width: 180px;
    height: 20px;
    top: 10px;
    left: 20%;
  }
  .phoneUser {
    padding: 25px 15px 10px;
  }
  .chatWrapper {
    width: 260px;
  }
  .priceGradient,
  .message-text {
    max-width: 95%;
    width: 95%;
  }
}
